
/* ====================================
    Mobile Responsive Styles
==================================== */


@media screen and (max-width: 600px) {
    
    header, main {
        margin: 2%;
    }

    header {
        flex-direction: column;
        justify-content: center;
        padding: 3em 1em 1em;
        gap: 2em;
        border-radius: 1em;
    }
    .header-text {
        width: 100%;
        text-align: center;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header img {
        width: 100%;
    }

/* ================= Content and Menu Part =================== */

    main {
        flex-direction: column;
    }
    aside ul {
        width: 100%;
        background: none;
        animation: none;
    }
    aside a {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    section {
        grid-template-columns: 100%;
    }

    .matches {
        padding: .8em 2em;
        font-size: 14px;
    }

    /* ================== Footer ===================== */

    footer {
        padding: 1em;
        margin-top: 3em;
    }
    footer h1 {
        font-size: 3em;
    }
    footer hr {
        width: 95%;
        margin: 1em auto;
    }
    .footer-menu {
        flex-direction: column;
    }
    .footer-menu a {
        text-align: center;
    }
    .social-links{
        font-size: 10px;
    }
}


/* ====================================
    Tablet Responsive Styles
==================================== */


@media screen and (min-width: 601px) and (max-width: 1000px) {
    header {
        font-size: 10px;
        margin: 5%;
        border-radius: 2em;
        padding: 5%;
    }

    /* ============= Main Content and Left Menu ================ */

    main {
        flex-direction: column;
        margin: 5%;
    }
    aside ul {
        flex-direction: row;
        width: 100%;
        padding: 0;
        gap: 0;
        justify-content: space-between;
        background: none;
        animation: none;
        height: auto;
    }
    aside li {
        width: 32%;
    }
    aside a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    section {
        grid-template-columns: repeat(2,49%);
    }
    .tablet-mode {
        display: none;
    }
    .view-all {
        display: flex;
    }

    /* =============== Footer =================== */

    footer{
        margin-top: 3em;
        padding: 3em;
    }

    .footer-menu {
        flex-wrap: wrap;
        padding: 1em 3em;
    }
}


/* ===========================================
    All devices with minimum width 1001px
============================================== */

@media screen and (min-width: 1001px) {
    header, main {
        margin: 3% auto 7%;
        width: 97%;
        max-width: 1320px;
    }
}